<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:c="http://www.springframework.org/schema/c"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<bean id="SequenceGenerator" class="com.jbetoreyes.maven.springcore.SequenceGenerator">
		<constructor-arg type="int" index ="0" value="100000"/> <!-- The Order in which constructor-arg appear doesn't matter to select the constructor -->
		<constructor-arg type="java.lang.String" index="1" value="A"/>
		<property name="prefix" value="30"/>
	</bean>
	
</beans>